TestWAT/Connected Services/Pochta/OperationHistory12.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://russianpost.org/operationhistory" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="OperationHistory12" targetNamespace="http://russianpost.org/operationhistory" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="https://tracking.russianpost.ru/rtm34?xsd=1" namespace="http://www.russianpost.org/custom-duty-info/data" />
    </xsd:schema>
    <xsd:schema>
      <xsd:import schemaLocation="https://tracking.russianpost.ru/rtm34?xsd=2" namespace="http://www.russianpost.org/RTM/DataExchangeESPP/Data" />
    </xsd:schema>
    <xsd:schema>
      <xsd:import schemaLocation="https://tracking.russianpost.ru/rtm34?xsd=3" namespace="http://schemas.xmlsoap.org/soap/envelope/" />
    </xsd:schema>
    <xsd:schema>
      <xsd:import schemaLocation="https://tracking.russianpost.ru/rtm34?xsd=4" namespace="http://russianpost.org/sms-info/data" />
    </xsd:schema>
    <xsd:schema>
      <xsd:import schemaLocation="https://tracking.russianpost.ru/rtm34?xsd=5" namespace="http://russianpost.org/operationhistory/data" />
    </xsd:schema>
    <xsd:schema>
      <xsd:import schemaLocation="https://tracking.russianpost.ru/rtm34?xsd=6" namespace="http://russianpost.org/operationhistory" />
    </xsd:schema>
  </types>
  <message name="getOperationHistory">
    <part name="parameters" element="tns:getOperationHistory" />
  </message>
  <message name="getOperationHistoryResponse">
    <part name="parameters" element="tns:getOperationHistoryResponse" />
  </message>
  <message name="OperationHistoryFault">
    <part xmlns:ns1="http://russianpost.org/operationhistory/data" name="fault" element="ns1:OperationHistoryFaultReason" />
  </message>
  <message name="AuthorizationFault">
    <part xmlns:ns2="http://russianpost.org/operationhistory/data" name="fault" element="ns2:AuthorizationFaultReason" />
  </message>
  <message name="getLanguages">
    <part name="parameters" element="tns:getLanguages" />
  </message>
  <message name="getLanguagesResponse">
    <part name="parameters" element="tns:getLanguagesResponse" />
  </message>
  <message name="LanguageFault">
    <part xmlns:ns3="http://russianpost.org/operationhistory/data" name="fault" element="ns3:LanguageFaultReason" />
  </message>
  <message name="getCustomDutyEventsForMail">
    <part name="parameters" element="tns:getCustomDutyEventsForMail" />
  </message>
  <message name="getCustomDutyEventsForMailResponse">
    <part name="parameters" element="tns:getCustomDutyEventsForMailResponse" />
  </message>
  <message name="CustomDutyEventsForMailFault">
    <part xmlns:ns4="http://www.russianpost.org/custom-duty-info/data" name="fault" element="ns4:CustomDutyEventsForMailFault" />
  </message>
  <message name="getSmsHistory">
    <part name="parameters" element="tns:getSmsHistory" />
  </message>
  <message name="getSmsHistoryResponse">
    <part name="parameters" element="tns:getSmsHistoryResponse" />
  </message>
  <message name="SmsHistoryFault">
    <part xmlns:ns5="http://russianpost.org/sms-info/data" name="fault" element="ns5:SmsHistoryFaultReason" />
  </message>
  <message name="PostalOrderEventsForMail">
    <part name="parameters" element="tns:PostalOrderEventsForMail" />
  </message>
  <message name="PostalOrderEventsForMailResponse">
    <part name="parameters" element="tns:PostalOrderEventsForMailResponse" />
  </message>
  <message name="PostalOrderEventsForMailFault">
    <part xmlns:ns6="http://www.russianpost.org/RTM/DataExchangeESPP/Data" name="fault" element="ns6:PostalOrderEventsForMailFault" />
  </message>
  <portType name="OperationHistory12">
    <operation name="getOperationHistory">
      <input wsam:Action="http://russianpost.org/operationhistory/OperationHistory12/getOperationHistoryRequest" message="tns:getOperationHistory" />
      <output wsam:Action="http://russianpost.org/operationhistory/OperationHistory12/getOperationHistoryResponse" message="tns:getOperationHistoryResponse" />
      <fault wsam:Action="http://russianpost.org/operationhistory/OperationHistory12/getOperationHistory/Fault/OperationHistoryFault" name="OperationHistoryFault" message="tns:OperationHistoryFault" />
      <fault wsam:Action="http://russianpost.org/operationhistory/OperationHistory12/getOperationHistory/Fault/AuthorizationFault" name="AuthorizationFault" message="tns:AuthorizationFault" />
    </operation>
    <operation name="getLanguages">
      <input wsam:Action="http://russianpost.org/operationhistory/OperationHistory12/getLanguagesRequest" message="tns:getLanguages" />
      <output wsam:Action="http://russianpost.org/operationhistory/OperationHistory12/getLanguagesResponse" message="tns:getLanguagesResponse" />
      <fault wsam:Action="http://russianpost.org/operationhistory/OperationHistory12/getLanguages/Fault/OperationHistoryFault" name="OperationHistoryFault" message="tns:OperationHistoryFault" />
      <fault wsam:Action="http://russianpost.org/operationhistory/OperationHistory12/getLanguages/Fault/AuthorizationFault" name="AuthorizationFault" message="tns:AuthorizationFault" />
      <fault wsam:Action="http://russianpost.org/operationhistory/OperationHistory12/getLanguages/Fault/LanguageFault" name="LanguageFault" message="tns:LanguageFault" />
    </operation>
    <operation name="getCustomDutyEventsForMail">
      <input wsam:Action="http://russianpost.org/operationhistory/OperationHistory12/getCustomDutyEventsForMailRequest" message="tns:getCustomDutyEventsForMail" />
      <output wsam:Action="http://russianpost.org/operationhistory/OperationHistory12/getCustomDutyEventsForMailResponse" message="tns:getCustomDutyEventsForMailResponse" />
      <fault wsam:Action="http://russianpost.org/operationhistory/OperationHistory12/getCustomDutyEventsForMail/Fault/CustomDutyEventsForMailFault" name="CustomDutyEventsForMailFault" message="tns:CustomDutyEventsForMailFault" />
      <fault wsam:Action="http://russianpost.org/operationhistory/OperationHistory12/getCustomDutyEventsForMail/Fault/AuthorizationFault" name="AuthorizationFault" message="tns:AuthorizationFault" />
      <fault wsam:Action="http://russianpost.org/operationhistory/OperationHistory12/getCustomDutyEventsForMail/Fault/LanguageFault" name="LanguageFault" message="tns:LanguageFault" />
    </operation>
    <operation name="getSmsHistory">
      <input wsam:Action="http://russianpost.org/operationhistory/OperationHistory12/getSmsHistoryRequest" message="tns:getSmsHistory" />
      <output wsam:Action="http://russianpost.org/operationhistory/OperationHistory12/getSmsHistoryResponse" message="tns:getSmsHistoryResponse" />
      <fault wsam:Action="http://russianpost.org/operationhistory/OperationHistory12/getSmsHistory/Fault/SmsHistoryFault" name="SmsHistoryFault" message="tns:SmsHistoryFault" />
      <fault wsam:Action="http://russianpost.org/operationhistory/OperationHistory12/getSmsHistory/Fault/AuthorizationFault" name="AuthorizationFault" message="tns:AuthorizationFault" />
      <fault wsam:Action="http://russianpost.org/operationhistory/OperationHistory12/getSmsHistory/Fault/LanguageFault" name="LanguageFault" message="tns:LanguageFault" />
    </operation>
    <operation name="PostalOrderEventsForMail">
      <input wsam:Action="http://russianpost.org/operationhistory/OperationHistory12/PostalOrderEventsForMailRequest" message="tns:PostalOrderEventsForMail" />
      <output wsam:Action="http://russianpost.org/operationhistory/OperationHistory12/PostalOrderEventsForMailResponse" message="tns:PostalOrderEventsForMailResponse" />
      <fault wsam:Action="http://russianpost.org/operationhistory/OperationHistory12/PostalOrderEventsForMail/Fault/PostalOrderEventsForMailFault" name="PostalOrderEventsForMailFault" message="tns:PostalOrderEventsForMailFault" />
    </operation>
  </portType>
  <binding name="OperationHistory12PortBinding" type="tns:OperationHistory12">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="getOperationHistory">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
      <fault name="OperationHistoryFault">
        <soap12:fault use="literal" name="OperationHistoryFault" namespace="" />
      </fault>
      <fault name="AuthorizationFault">
        <soap12:fault use="literal" name="AuthorizationFault" namespace="" />
      </fault>
    </operation>
    <operation name="getLanguages">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
      <fault name="OperationHistoryFault">
        <soap12:fault use="literal" name="OperationHistoryFault" namespace="" />
      </fault>
      <fault name="AuthorizationFault">
        <soap12:fault use="literal" name="AuthorizationFault" namespace="" />
      </fault>
      <fault name="LanguageFault">
        <soap12:fault use="literal" name="LanguageFault" namespace="" />
      </fault>
    </operation>
    <operation name="getCustomDutyEventsForMail">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
      <fault name="CustomDutyEventsForMailFault">
        <soap12:fault use="literal" name="CustomDutyEventsForMailFault" namespace="" />
      </fault>
      <fault name="AuthorizationFault">
        <soap12:fault use="literal" name="AuthorizationFault" namespace="" />
      </fault>
      <fault name="LanguageFault">
        <soap12:fault use="literal" name="LanguageFault" namespace="" />
      </fault>
    </operation>
    <operation name="getSmsHistory">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
      <fault name="SmsHistoryFault">
        <soap12:fault use="literal" name="SmsHistoryFault" namespace="" />
      </fault>
      <fault name="AuthorizationFault">
        <soap12:fault use="literal" name="AuthorizationFault" namespace="" />
      </fault>
      <fault name="LanguageFault">
        <soap12:fault use="literal" name="LanguageFault" namespace="" />
      </fault>
    </operation>
    <operation name="PostalOrderEventsForMail">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
      <fault name="PostalOrderEventsForMailFault">
        <soap12:fault use="literal" name="PostalOrderEventsForMailFault" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="OperationHistory12">
    <port name="OperationHistory12Port" binding="tns:OperationHistory12PortBinding">
      <soap12:address location="https://tracking.russianpost.ru/rtm34" />
    </port>
  </service>
</definitions>