TestWAT/Connected Services/Pochta/rtm34_xsd6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ns4="http://www.russianpost.org/RTM/DataExchangeESPP/Data" xmlns:tns="http://russianpost.org/operationhistory" xmlns:ns2="http://russianpost.org/operationhistory/data" xmlns:ns1="http://russianpost.org/sms-info/data" xmlns:ns3="http://www.russianpost.org/custom-duty-info/data" elementFormDefault="qualified" targetNamespace="http://russianpost.org/operationhistory" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://tracking.russianpost.ru/rtm34?xsd=4" namespace="http://russianpost.org/sms-info/data" />
  <xs:import schemaLocation="https://tracking.russianpost.ru/rtm34?xsd=5" namespace="http://russianpost.org/operationhistory/data" />
  <xs:import schemaLocation="https://tracking.russianpost.ru/rtm34?xsd=1" namespace="http://www.russianpost.org/custom-duty-info/data" />
  <xs:import schemaLocation="https://tracking.russianpost.ru/rtm34?xsd=2" namespace="http://www.russianpost.org/RTM/DataExchangeESPP/Data" />
  <xs:element name="PostalOrderEventsForMail" type="tns:PostalOrderEventsForMail" />
  <xs:element name="PostalOrderEventsForMailResponse" type="tns:PostalOrderEventsForMailResponse" />
  <xs:element name="getCustomDutyEventsForMail" type="tns:getCustomDutyEventsForMail" />
  <xs:element name="getCustomDutyEventsForMailResponse" type="tns:getCustomDutyEventsForMailResponse" />
  <xs:element name="getLanguages" type="tns:getLanguages" />
  <xs:element name="getLanguagesResponse" type="tns:getLanguagesResponse" />
  <xs:element name="getOperationHistory" type="tns:getOperationHistory" />
  <xs:element name="getOperationHistoryResponse" type="tns:getOperationHistoryResponse" />
  <xs:element name="getSmsHistory" type="tns:getSmsHistory" />
  <xs:element name="getSmsHistoryResponse" type="tns:getSmsHistoryResponse" />
  <xs:complexType name="getSmsHistoryResponse">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ns1:SmsHistoryData" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getLanguagesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ns2:LanguageData" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getLanguages">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ns2:AuthorizationHeader" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCustomDutyEventsForMail">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ns2:AuthorizationHeader" />
      <xs:element minOccurs="0" ref="ns3:CustomDutyEventsForMailInput" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getOperationHistory">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ns2:OperationHistoryRequest" />
      <xs:element minOccurs="0" ref="ns2:AuthorizationHeader" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PostalOrderEventsForMailResponse">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ns4:PostalOrderEventsForMaiOutput" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PostalOrderEventsForMail">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ns2:AuthorizationHeader" />
      <xs:element minOccurs="0" ref="ns4:PostalOrderEventsForMailInput" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCustomDutyEventsForMailResponse">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ns3:CustomDutyEventsForMailOutput" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getOperationHistoryResponse">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ns2:OperationHistoryData" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getSmsHistory">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ns2:AuthorizationHeader" />
      <xs:element minOccurs="0" ref="ns1:SmsHistoryRequest" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>